<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJRbp55F7lOicdQYXhIYhi9922224uOxs</string>
	<key>GCM_SENDER_ID</key>
	<string>764122838769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stardust.bikerr</string>
	<key>PROJECT_ID</key>
	<string>bikerr-46c6f</string>
	<key>STORAGE_BUCKET</key>
	<string>bikerr-46c6f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764122838769:ios:b50dca620d90ff29635b50</string>
</dict>
</plist>